[submodule ".registry"]
	path = .registry
	url = https://github.com/bogdanoancea/bogdanoancea.r-universe.dev
	branch = HEAD
[submodule "finitization"]
	path = finitization
	url = https://github.com/bogdanoancea/finitization
	branch = master
